@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__input-container {
  @apply bg-white dark:bg-darkGrey border-[1px] border-lightestGrey dark:border-grey rounded-[4px] py-4 px-5 text-almostBlack  dark:text-lightestGrey text-[16px] leading-[20px] tracking-[-0.25px] font-bold placeholder:text-lightGrey cursor-pointer hover:border-purple focus:border-purple dark:hover:border-purple dark:focus:border-purple outline-none inline-block relative w-full;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  @apply absolute top-4 right-6;
  box-sizing: content-box;
}

.react-datepicker__view-calendar-icon input {
  @apply bg-white dark:bg-darkGrey shrink-0 outline-none appearance-none border-none focus:border-none focus:outline-none hover:border-none;
}
.react-datepicker__navigation-icon::before {
  @apply border-purple block h-2 absolute bottom-0 w-2 z-10;
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
}

.react-datepicker__navigation {
  @apply flex justify-center items-center cursor-pointer absolute top-3 border-none h-8 w-8 overflow-hidden;
  text-indent: -999em;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker {
  @apply relative bg-white dark:bg-grey border-white dark:border-grey outline-none rounded-[8px] text-almostBlack dark:text-white font-bold text-[16px] leading-[20px] tracking-[-0.25px] font-spartan inline-block;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
}

.react-datepicker__header {
  @apply text-center bg-white dark:bg-grey pt-[25px] pb-8 relative rounded-t-[8px] border-none;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply mt-0;
}

.react-datepicker .react-datepicker__day--today {
  @apply text-red dark:text-red border-none outline-none;
}

.react-datepicker .react-datepicker__day--outside-month {
  @apply text-almostBlack/10 dark:text-white/10;
}

.react-datepicker__month {
  @apply mx-5 mb-8 text-center;
}

.react-datepicker__day-name,
.react-datepicker__day {
  @apply text-almostBlack dark:text-white font-bold text-[14px] tracking-[-.63px] leading-[20px] w-4 text-center m-2;
  display: inline-block;
}

.react-datepicker__day {
  cursor: pointer;
}
.react-datepicker__day:hover {
  @apply text-purple dark:text-purple;
}
.react-datepicker__day--selected {
  @apply text-purple dark:text-purple;
}
.react-datepicker__day--keyboard-selected {
  @apply text-purple dark:text-purple;
}
.react-datepicker__day--keyboard-selected:hover {
  @apply text-purple dark:text-purple;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  @apply text-almostBlack dark:text-white hover:text-purple dark:hover:text-purple bg-none outline-none border-none;
}

.react-datepicker__navigation-icon--previous {
  @apply right-0;
}
.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  @apply right-0;
}
.react-datepicker__navigation--previous {
  @apply left-6;
}
.react-datepicker__navigation--next {
  @apply right-6;
}

.react-datepicker__navigation-icon {
  @apply relative top-[0px] text-[20px] w-0;
}
.react-datepicker__navigation-icon--next {
  @apply left-0;
}
.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  @apply left-0;
}
.react-datepicker__day-names {
  @apply hidden;
}

.react-datepicker__week {
  white-space: nowrap;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  @apply fill-transparent text-transparent stroke-transparent;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  @apply fill-transparent text-transparent stroke-transparent;
}

.react-datepicker-popper {
  z-index: 1;
  line-height: 0;
}
.react-datepicker__month-container {
  float: left;
}

.react-datepicker__children-container {
  height: auto;
}

.react-datepicker__aria-live {
  position: absolute;
  -webkit-clip-path: circle(0);
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
